pdfkit
openpyxl
pandas
plotly
sendgrid
pillow
openai
torch
ollama
streamlit
langchain
scikit-learn
altair
jsonschema==4.19.0
referencing==0.29.0
jsonschema-specifications==2023.6.1
langchain
pydantic
SpeechRecognition
pyttsx3
requests
langchain-community
langchain-core
tenacity
streamlit
requests
openai
numpy
langchain-ollama
sentence-transformers==3.3.1
faiss-cpu==1.9.0
nltk==3.9.1
pypdf==5.1.0
streamlit-webrtc
pydub
duckduckgo-search
