pdfkit
openpyxl
pandas
plotly
sendgrid
pillow
openai
torch
ollama
streamlit
langchain
scikit-learn
altair
jsonschema==4.19.0
referencing==0.29.0
jsonschema-specifications==2023.6.1
langchain
pydantic
SpeechRecognition
pyttsx3
requests
langchain-community
langchain-core
tenacity




